@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid gray;
  &:hover{
    border-bottom-color: #EA2E49;
  }
}

#css-zen-garden {
  background: #DAEDE2;
  font-family: sans-serif;
  box-sizing: border-box;

}

.page-wrapper {
  background: $main-color;
  height: 200vh;
  margin: $left-margin;
  h3 {
    font-size: 2em;
  }
}

.intro {
  @extend %basic;
  header{
    h1 {
      background: $right-content-color;
      width: 300px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    h2 {
      font-size: 7em;
    }
  }
  .summary {
    text-transform: uppercase;
      a{
        color: white;
        &:hover{
          border-bottom-color: #EA2E49;
        }
      }
  }
  .preamble {
    color: black;
    @include box(white, 50vw, 30vh);
    left: 0; top: 60%;
    @extend %opaAbsolute;
    padding: 10px 20px 10px 150px;
  }
}

#zen-supporting {
  .explanation {
    @extend %basic;
    @extend %opaAbsolute;
    left: 5%; bottom: -45%;
    width: 29vw;
    height: 40vh;
    @extend %padding;
  }
  .participation {
    @extend %basic;
    @extend %opaAbsolute;
    right: 7%; bottom: -45%;
    width: 29vw;
    height: 40vh;
    background-color: darken($right-content-color, 10%);
    z-index: 1;
    padding: 20px 50px;
      a {
        color: white;
        &:hover{
          border-bottom-color: #EA2E49;
        }
      }
  }
  .requirements {
    background-color: $outer-color;
      @extend %opaAbsolute;
    right: 12%; bottom: -84.7%;
    width: 45vw;
    height: auto;
    padding: 20px 50px;
    z-index: 1;
  }
  .benefits {
    background-color:  $outer-color;
    @extend %opaAbsolute;
    left: 14.3%; bottom: -78%;
    width: 15vw;
    height: auto;
    padding: 20px 50px;
    z-index: 1;
  }
}

footer {
    background: darken($side-color, 10%);
    @extend %opaAbsolute;
    bottom: -91%; left: 14%;
    padding: 30px 50px;
    width: 905px;
}


.extra1 {
  background: $sidebar-color;
  width: 20vw;
  height: 215vh;
  @extend %opaAbsolute;
  top: 0; right: 0;
}

aside {
  background: darken($side-color, 10%);
  width: 25vw;
  height: 70vh;
  top: 15%; right: 5.5%;
  z-index: 1;
  line-height: 2;
  @extend %opaAbsolute;
  @extend %padding;
  ul {
  list-style: none;
  }
}
